/* ========== Compound ========== */
.overlay-layer {
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ========== Home Section ========== */
#home {
  background-image: url("../images/aqsa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#home h1 {
  font-size: 3rem;
  position: relative;
  text-align: center;
  color: #fff;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

/* ========== Navbar ========== */
#home #open-nav {
  position: fixed;
  left: 20px;
  top: 30%;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
nav #leftMenu {
  color: #fff;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
nav #leftMenu .fa-xmark {
  font-size: 2rem;
  position: relative;
  top: 20px;
  left: 200px;
  cursor: pointer;
}
nav #leftMenu ul {
  list-style: none;
}
nav #leftMenu ul li {
  padding: 20px;
}
nav #leftMenu ul a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}
nav #leftMenu ul li:hover a {
  color: green;
  font-weight: bold;
}

/* ========== Slider Down ========== */
#sliderDown h3 {
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  background-color: green;
  cursor: pointer;
  color: white;
}
#sliderDown .inner {
  width: 70%;
  margin: auto;
  display: none;
}
#sliderDown .inner table {
  margin-bottom: 0;
}

/* ========== Prayer Timings ========== */
#prayerTimings {
  background-image: url("../images/prayer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-block: 2rem;
}

#prayerTimings .content {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: fit-content;
}
#prayerTimings .content li {
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  #prayerTimings .content ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
}

#prayerTimings .content span.time {
  background-color: gold;
  border-radius: 30px;
  padding: 0 10px;
  font-size: 20px;
}
